body {
      /*  background:url('../images/wallpapers/w1.png');*/
      /*
background: #457fca; 
background: -webkit-linear-gradient(to left, #457fca , #5691c8);
background: linear-gradient(to left, #457fca , #5691c8);
      */
      background: #136a8a; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;  
      
    padding-top: 70px;
    padding-bottom: 70px;
  
  }